<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a>MyFace</a>
        <a href="">Home</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a href="/posts/create">+ New Post</a>  
    </nav>
</header>