<header>
    <nav>
        <a>MyFace</a>
        <a href="">Home</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a href="/posts/create">+ New Post</a>
    </nav>
</header>