
<header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a>MyFace</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a href="/posts/create">+ New Post</a>
      </div>
</header>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
