<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create Post</h1>
<form method="post" action="/posts/create">
    <label>
        Message:
        <input type="text" message="message" required/>
    </label>
    <label>
        imageUrl:
        <input type="text" name="imageUrl" required/>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>