<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create User</h1>
<form method="post" action="/users/create">
    <label>
        Name:
        <input type="text" name="name" required/>
    </label>
    <label>
        Username:
        <input type="text" name="username" required/>
    </label>
    <label>
        Email:
        <input type="email" name="email" required/>
    </label>
    <label>
        ProfileImageUrl:
        <input type="text" name="profileImageUrl" required/>
    </label>
    <label>
        CoverImageUrl:
        <input type="text" name="coverImageUrl" required/>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>