html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DCDCDC;
    background-color: #252A38;
}

header {
    background-color: #151820;
    font-size: 24px;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: #DCDCDC;
}

header a:hover {
    color: #2985FF
}

.post {
    background-color: #151820;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0em;
    width: 100%;
    box-sizing: border-box; 
}

@media (min-width: 600px) and (max-width: 900px) {
    .post {
        width: calc((100% - 2em) / 2)
    }
}
@media (min-width: 900px) {
    .post {
        width: calc((100% - 3em) / 3)
    }
}
@media (max-width: 600px) {
    .post {
        width: calc((100% - 1em))
    }

    .post-list{
        justify-content: center !important;
    }
}

.post .post-posted-by {
    font-style: italic;
}

.post-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 40px;
    
    
}
.post-image {
    text-align: center;
    width: 100%;
    height: 50%;
}

.user {
    background-color: #151820;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0em;
    width: 100%;
    box-sizing: border-box; 
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 4fr 1fr;
    height:50vh;
    width: 100vw;
}

.user-cover-image {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
}

.user-image-detail {
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 10vh;
    height: 10vh;
}

.user-name {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #252A38;
    opacity: .56;
}

@media (min-width: 600px) and (max-width: 900px) {
    .user {
        width: calc((100% - 2em) / 2)
    }
}
@media (min-width: 900px) {
    .user {
        width: calc((100% - 3em) / 3)
    }
}
@media (max-width: 600px) {
    .user {
        width: calc((100% - 1em))
    }

    .user-list{
        justify-content: center !important;
    }
}

.user-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 40px;
}

.user-image {
    text-align: center;
    border-radius: 50%;
}

.page-header {
    text-align: center;
    padding: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right:0;
    border-radius: 25px;
  }
nav {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 40px;
}
 
