html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: DCDCDC;
    background-color: #252A38;
}

header {
    background-color: #151820;
    font-size: 24px;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: DCDCDC;
}

.post {
    background-color: #151820;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0em;
    width: 100%;
    box-sizing: border-box; 
}

@media (min-width: 600px) and (max-width: 900px) {
    .post {
        width: calc((100% - 2em) / 2)
    }
}
@media (min-width: 900px) {
    .post {
        width: calc((100% - 3em) / 3)
    }
}
@media (max-width: 600px) {
    .post {
        width: calc((100% - 1em))
    }

    .post-list{
        justify-content: center !important;
    }
}

.post .post-posted-by {
    font-style: italic;
}

.post-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    
    
}
.post-image {
    text-align: center;
    width: 100%;
    height: 50%;
}

.user {
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0em;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box; 
}

@media (min-width: 600px) and (max-width: 900px) {
    .user {
        width: calc((100% - 2em) / 2)
    }
}
@media (min-width: 900px) {
    .user {
        width: calc((100% - 3em) / 3)
    }
}
@media (max-width: 600px) {
    .user {
        width: calc((100% - 1em))
    }

    .user-list{
        justify-content: center !important;
    }
}

.user-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.user-cover-image {
   
}

.user-image {
    text-align: center;
    border-radius: 50%;
}

.page-header {
    text-align: center;
    padding: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right:0;
    border-radius: 25px;
  }

 
