html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DCDCDC;
    background-color: #252A38;
    line-height: 20px;
    font-size: 14px;
}

/* NAV BAR */
header {
    background-color: #151820;
    font-size: 24px;
}
header a {
    text-decoration: none;
}
header a:visited {
    color: #DCDCDC;
}
header a:hover {
    color: #2985FF
}

.display-nav {
    list-style-type: none;
    text-align: center;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 40px;
}

.post {
    background-color: #151820;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0em;
    width: 100%;
    box-sizing: border-box; 
}

@media (min-width: 600px) and (max-width: 900px) {
    .post {
        width: calc((100% - 2em) / 2)
    }
}
@media (min-width: 900px) {
    .post {
        width: calc((100% - 3em) / 3)
    }
}
@media (max-width: 600px) {
    .post {
        width: calc((100% - 1em))
    }

    .post-list{
        justify-content: center !important;
    }
}

.post .post-posted-by {
    font-style: italic;
}

.post-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 40px; 
}

.post-image {
    text-align: center;
    width: 100%;
    height: 50%;
}

.user {
    background-color: #151820;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0em;
    width: 100%;
    box-sizing: border-box; 
}

.wrapper {
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.1fr .5fr .5fr 2.4fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr; 
}

.user-cover-image {
    grid-area: 1 / 1 / 4 / 5;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-name {
    grid-area: 3 / 3 / 4 / 5;
    background-color: #252A38;
    opacity: .56;
    font-size: 20px;
    font-weight: 300;
    height: 100%;
    align-self: center;
    text-align: center;
}

.margin { 
    grid-area: 1 / 1 / 5 / 2; 
}

.email {
    grid-area: 4 / 4 / 5 / 5;
}

.user-image-detail {
    grid-area: 3 / 2 / 5 / 4;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #DCDCDC;
    z-index: 3;
}

@media (min-width: 600px) and (max-width: 900px) {
    .user {
        width: calc((100% - 2em) / 2)
    }
}
@media (min-width: 900px) {
    .user {
        width: calc((100% - 3em) / 3)
    }

}
@media (max-width: 600px) {
    .user {
        width: calc((100% - 1em))
    }

    .user-list{
        justify-content: center !important;
    }
}

.user-list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 40px;
}

.user-image {
    text-align: center;
    border-radius: 50%;
}

.page-header {
    text-align: center;
    padding: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right:0;
    border-radius: 25px;
  }

 
